/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1296px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #020202;
  color: #ffffff;
}

@media (max-width: 375px) {
  .container {
    padding: 0 12px;
  }
}
.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.por {
  position: relative;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}

.gap-24 {
  gap: 24px;
}

.pd160-0 {
  padding: 160px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #919191;
  margin-bottom: 40px;
}

.logo h1 a {
  display: block;
  width: 245px;
  height: 40px;
  background-image: url("/images/logo.png");
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}
.menu-list li {
  margin-left: 20px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}

.menu-button-container {
  display: none;
  width: 24px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 2px;
  width: 26px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #020202;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 375px) {
  .logo h1 a {
    width: 147px;
    height: 24px;
    background-image: url("/images/logo-sm.png");
  }
  #menu-toggle {
    position: absolute;
    right: 28px;
  }
  .menu-button-container {
    display: flex;
  }
  #menu-toggle ~ .menu-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020202;
  }
  #menu-toggle ~ .menu-list li {
    font-size: 5rem;
    line-height: 1.2;
    margin: 0;
  }
  #menu-toggle:checked ~ .menu-list {
    display: flex;
  }
}
.banner {
  margin-bottom: 180px;
}

.main-intro {
  font-size: 7.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

.callToAction a {
  width: 160px;
  display: block;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #ffffff;
  padding: 20px 0px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.banner-animation {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 180px;
  overflow: hidden;
}
.banner-animation .deco-grass1 {
  position: absolute;
  right: 360px;
  animation: 3s infinite upward1 ease-out;
}
.banner-animation .deco-grass2 {
  position: absolute;
  right: 180px;
  animation: 3s infinite upward2 ease-out;
}
.banner-animation .deco-grass3 {
  position: absolute;
  right: 0px;
  animation: 3s infinite upward3 ease-out;
}

@keyframes upward1 {
  0% {
    bottom: -180px;
  }
  30% {
    bottom: -180px;
  }
  50% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  100% {
    bottom: 180px;
  }
}
@keyframes upward2 {
  0% {
    bottom: -180px;
  }
  20% {
    bottom: -180px;
  }
  48% {
    bottom: 0;
  }
  78% {
    bottom: 0;
  }
  100% {
    bottom: 180px;
  }
}
@keyframes upward3 {
  0% {
    bottom: -180px;
  }
  20% {
    bottom: -180px;
  }
  40% {
    bottom: 0;
  }
  68% {
    bottom: 0;
  }
  100% {
    bottom: 180px;
  }
}
@media (max-width: 375px) {
  .main-intro {
    font-size: 3rem;
    line-height: 1.2;
  }
  .callToAction {
    margin-bottom: 180px;
  }
  .banner-animation {
    justify-content: center;
    margin-bottom: 120px;
  }
  .banner-animation img {
    max-width: 117px;
  }
  .banner-animation .deco-grass1 {
    right: 234px;
  }
  .banner-animation .deco-grass2 {
    right: 117px;
  }
}
.service {
  margin-bottom: 160px;
}

.service-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.service-title {
  width: 33.3333333333%;
  margin-right: 24px;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
}

.service-desc {
  width: 66.6666666667%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.service-card {
  border: 1px solid #525252;
  border-radius: 16px;
  width: 33.3333333333%;
  padding: 86.67px 40px 80px 40px;
}
.service-card img {
  width: 66.67px;
  margin-bottom: 26.67px;
}
.service-card h4 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 20px;
}
.service-card p {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .service {
    margin-bottom: 120px;
  }
  .service-intro {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .service-title h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .service-desc {
    font-size: 2rem;
    line-height: 1.2;
    width: 100%;
  }
  .service-cards {
    flex-direction: column;
    gap: 12px;
  }
  .service-card {
    width: 100%;
    padding: 40px 20px;
  }
}
.partner {
  margin-bottom: 160px;
}

.partner-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 80px;
}

.partner-list {
  overflow: hidden;
  position: relative;
}
.partner-list ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.partner-list::before, .partner-list::after {
  content: "";
  position: absolute;
  width: 196px;
  height: 40px;
  top: 0;
  z-index: 2;
}
.partner-list::before {
  left: 0;
  background-image: linear-gradient(to left, transparent, black);
}
.partner-list::after {
  right: 0;
  background-image: linear-gradient(to right, transparent, black);
}
.partner-list img {
  max-width: 160px;
}

.parnter-list1 {
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .partner-title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .partner-list::before, .partner-list::after {
    width: 82px;
  }
  .partner-list ul {
    gap: 20px;
  }
  .partner-list ul li:nth-child(n+4) {
    display: none;
  }
  .parnter-list1 {
    margin-bottom: 12px;
  }
  .parnter-list2 ul {
    margin-left: -160px;
  }
}
.recommend-list {
  margin-bottom: 160px;
  color: #ffffff;
  display: flex;
  gap: 24px;
}

.recommend-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 416px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}
.stars .material-symbols-outlined {
  font-size: 14px;
}

.recommend-content {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  flex-grow: 1;
}

.recommend-comment {
  max-height: 215px;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.recommend-user {
  display: flex;
  align-items: center;
}
.recommend-user .avatar {
  width: 48px;
  margin-right: 16px;
}
.recommend-user-desc h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 4px;
}
.recommend-user-desc p {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .controls {
    position: relative;
    text-align: center;
    margin-bottom: 120px;
  }
  .controls ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controls ul li {
    width: 8px;
    height: 8px;
    margin: 0px 4px;
    border-radius: 50%;
    background: #525252;
    cursor: pointer;
  }
  .controls ul li.active {
    width: 12px;
    height: 12px;
    background: #ffffff;
  }
  .recommend-list {
    margin-bottom: 24px;
  }
  .recommend-item {
    display: none;
  }
  .recommend-item.active {
    display: block;
    width: 351px;
    padding: 20px;
  }
  .recommend-comment {
    min-height: 167px;
  }
}
.bg-white {
  background-color: #ffffff;
  border-radius: 160px;
}

.search {
  color: #020202;
}

.search-title {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 900;
  color: #020202;
  margin-bottom: 80px;
}

.search-input {
  position: relative;
  margin-bottom: 24px;
}
.search-input input {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 16px;
  padding: 20px 76px;
  padding-right: 0;
}
.search-input .search-icon span {
  position: absolute;
  font-size: 17.5px;
  left: 43px;
  top: 20px;
  color: #919191;
}

.filter {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.filter-button {
  position: relative;
  color: #020202;
}
.filter-button a {
  display: block;
  padding: 20px 60px 20px 40px;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}
.filter-button span {
  margin-left: 15px;
}
.filter-button .material-symbols-outlined {
  font-size: 15px;
  position: absolute;
  top: 26.67px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #919191;
  gap: 8px;
}
.category a {
  display: block;
  padding: 8px 16px;
}
.category a:hover {
  background-color: #f2f2f2;
  border-radius: 16px;
}

.category li.active {
  background-color: #f2f2f2;
  border-radius: 16px;
  color: #020202;
  font-weight: 700;
}

.card-pd {
  padding: 20px 32px;
}

.card-border {
  border: 1px solid #f2f2f2;
}

.card-border-bottom {
  border-bottom: 1px solid #f2f2f2;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
}

.card-font-body {
  font-size: 1rem;
  line-height: 1.5;
}

.fw-700 {
  font-weight: 700;
}

.card-group {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.card-group .card {
  display: flex;
  flex-direction: column;
  width: 416px;
  overflow: hidden;
  border-radius: 16px;
}
.card-group .card .card-img {
  overflow: hidden;
  font-size: 0;
}
.card-group .card .card-img img {
  transition: transform 0.4s;
}
.card-group .card .card-img img:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
}
.card-group .card .description {
  flex-grow: 1;
}
.card-group .card .description p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #525252;
}
.card-group .card .tools-tag a {
  color: #020202;
}
.card-group .card .tools-tag a span {
  font-size: 18px;
  line-height: 19.92px;
}

.pagination ul {
  display: flex;
  justify-content: flex-end;
  font-size: 0.875rem;
  line-height: 1.5;
  gap: 4px;
}
.pagination ul li {
  width: 48px;
  height: 48px;
}
.pagination ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
}
.pagination ul li a:hover {
  background-color: #f2f2f2;
  border-radius: 16px;
}
.pagination ul li a.active {
  background-color: #020202;
  border-radius: 16px;
  color: #ffffff;
}
.pagination ul li span {
  font-size: 15px;
  font-weight: 700;
}

.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 160px 0;
}
.cta h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 40px;
}

.cta-button {
  position: relative;
}
.cta-button a {
  display: block;
  padding: 20px 68px 20px 40px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}
.cta-button .material-symbols-outlined {
  margin-left: 16px;
  font-size: 15px;
  position: absolute;
  top: 25.5px;
}

.sitemap {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.sitemap-list ul {
  gap: 8px;
}
.sitemap-list a {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 900;
}

.sitemap-logo {
  width: 245px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 32px;
}

.copyright {
  margin-right: 100px;
}

.social ul {
  gap: 20px;
  display: flex;
}
.social a {
  padding: 12px 0;
}

.backToTopBtn {
  position: fixed;
  margin-left: 1120px;
  bottom: 0px;
  z-index: 999;
  padding: 25px 40px;
  border: none;
  border-radius: 16px;
  background-color: #020202;
  color: #ffffff;
  cursor: pointer;
}
.backToTopBtn .material-symbols-outlined {
  margin-left: 12px;
}
.backToTopBtn:hover {
  background-color: #525252;
}

.pricing {
  max-width: 1295px;
  margin: 0 auto;
}
.pricing .pricing-title h3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 80px;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1296px;
  margin-bottom: 160px;
  gap: 24px;
}
.pricing-cards .pricing-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px) / 2);
  border: 1px solid #525252;
  border-radius: 16px;
}
.pricing-cards .pricing-card .plan-desc {
  flex-grow: 1;
  padding: 20px 32px;
  padding-bottom: 136px;
}
.pricing-cards .pricing-card .plan-desc h4 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 12px;
}
.pricing-cards .pricing-card .plan-desc ul {
  font-size: 1rem;
  line-height: 1.5;
}
.pricing-cards .pricing-card .plan-desc ul li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 10px;
  vertical-align: middle;
}
.pricing-cards .pricing-card .plan-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-top: 1px solid #525252;
}
.pricing-cards .pricing-card .plan-toolbar .price {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
}
.pricing-cards .pricing-card .plan-toolbar .price span {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #919191;
  font-weight: 400;
}
.pricing-cards .pricing-card .plan-toolbar .use {
  display: flex;
  align-items: center;
}
.pricing-cards .pricing-card .plan-toolbar .use p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}
.pricing-cards .pricing-card .plan-toolbar .use span {
  width: 10px;
  padding: 14.67px;
}/*# sourceMappingURL=all.css.map */