/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1296px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #020202;
  color: #ffffff;
}

@media (max-width: 375px) {
  .container {
    padding: 0 12px;
  }
}
.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.por {
  position: relative;
}

.newline {
  display: none;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}

.gap-24 {
  gap: 24px;
}

.pd160-0 {
  padding: 160px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #919191;
  margin-bottom: 40px;
}

.logo h1 a {
  display: block;
  width: 245px;
  height: 40px;
  background-image: url("/images/logo.png");
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
}
.menu-list li {
  margin-left: 20px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}
.menu-list li a {
  padding: 12px 0;
}
.menu-list li a:hover {
  border-bottom: 3px solid #ffffff;
}

.menu-button-container {
  display: none;
  width: 24px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 2px;
  width: 26px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #020202;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 375px) {
  .logo h1 a {
    width: 147px;
    height: 24px;
    background-image: url("/images/logo-sm.png");
  }
  #menu-toggle {
    position: absolute;
    right: 28px;
  }
  .menu-button-container {
    display: flex;
  }
  #menu-toggle ~ .menu-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020202;
  }
  #menu-toggle ~ .menu-list li {
    font-size: 5rem;
    line-height: 1.2;
    margin: 0;
  }
  #menu-toggle:checked ~ .menu-list {
    display: flex;
  }
}
.banner {
  margin-bottom: 180px;
}

.main-intro {
  font-size: 7.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

.callToAction {
  margin-bottom: 100px;
}
.callToAction a {
  width: 160px;
  display: block;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #ffffff;
  padding: 20px 0px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 16px;
}
.callToAction a:hover {
  background-color: #ffffff;
  color: #020202;
  font-weight: 700;
}

.banner-animation {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
.banner-animation img {
  max-width: 180px;
}
.banner-animation .deco-grass1 {
  animation: 3.5s infinite upward ease-in-out 0.5s;
}
.banner-animation .deco-grass2 {
  animation: 3.5s infinite upward ease-in-out 0.2s;
}
.banner-animation .deco-grass3 {
  animation: 3.5s infinite upward ease-in-out;
}

@keyframes upward {
  0% {
    transform: translateY(190px);
  }
  30%, 70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-190px);
  }
}
.banner-pricing {
  display: flex;
  flex-direction: column;
}
.banner-pricing .main-intro {
  margin-bottom: 80px;
}
.banner-pricing .introduction {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
  margin-left: auto;
  max-width: 636px;
  margin-bottom: 238px;
}
.banner-pricing .banner-animation {
  margin-right: auto;
}

@media (max-width: 375px) {
  .banner {
    margin-bottom: 120px;
  }
  .main-intro {
    font-size: 3rem;
    line-height: 1.2;
  }
  .callToAction {
    margin-bottom: 180px;
  }
  .banner-animation {
    justify-content: center;
  }
  .banner-animation img {
    max-width: 117px;
  }
  .banner-animation .deco-grass1 {
    right: 234px;
  }
  .banner-animation .deco-grass2 {
    right: 117px;
  }
  .banner-pricing .main-intro {
    margin-bottom: 64px;
  }
  .banner-pricing .introduction {
    font-size: 1.75rem;
    line-height: 1.2;
    max-width: 257px;
    margin-bottom: 258px;
  }
  .banner-pricing .banner-animation {
    margin-right: 0;
  }
}
.service {
  margin-bottom: 160px;
}

.service-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.service-title {
  width: 33.3333333333%;
  margin-right: 24px;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
}

.service-desc {
  width: 66.6666666667%;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.service-card {
  border: 1px solid #525252;
  border-radius: 16px;
  width: 33.3333333333%;
  padding: 86.67px 40px 80px 40px;
}
.service-card img {
  width: 66.67px;
  margin-bottom: 26.67px;
}
.service-card h4 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 20px;
}
.service-card p {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .service {
    margin-bottom: 120px;
  }
  .service-intro {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .service-title h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .service-desc {
    font-size: 2rem;
    line-height: 1.2;
    width: 100%;
  }
  .service-cards {
    flex-direction: column;
    gap: 12px;
  }
  .service-card {
    width: 100%;
    padding: 40px 20px;
  }
}
.partner {
  margin-bottom: 160px;
}

.partner-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 80px;
}

.scroll {
  display: flex;
  overflow: hidden;
  position: relative;
}
.scroll::before, .scroll::after {
  content: "";
  position: absolute;
  width: 196px;
  height: 40px;
  top: 0;
  z-index: 3;
}
.scroll::before {
  left: 0;
  background-image: linear-gradient(to left, transparent, black);
}
.scroll::after {
  right: 0;
  background-image: linear-gradient(to right, transparent, black);
}
.scroll .partner-list {
  position: relative;
}
.scroll .partner-list ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.scroll .partner-list img {
  max-width: 160px;
}
.scroll .parnter-list1 {
  animation: scroll 20s linear infinite;
}
.scroll .parnter-list1:nth-child(2) {
  animation: scroll2 20s linear infinite;
}
.scroll .parnter-list2 {
  animation: scroll 18s linear infinite;
}
.scroll .parnter-list2:nth-child(2) {
  animation: scroll2 18s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 375px) {
  .partner-title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .partner-list::before, .partner-list::after {
    width: 82px;
  }
  .partner-list ul {
    gap: 20px;
  }
  .parnter-list2 ul {
    margin-left: -25px;
  }
}
.recommend-list {
  margin-bottom: 160px;
  color: #ffffff;
  display: flex;
  gap: 24px;
}

.recommend-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 416px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}
.stars .material-symbols-outlined {
  font-size: 14px;
}

.recommend-content {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.recommend-comment {
  max-height: 215px;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.recommend-user {
  display: flex;
  align-items: center;
}
.recommend-user .avatar {
  max-width: 48px;
  margin-right: 16px;
}
.recommend-user-desc h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 4px;
}
.recommend-user-desc p {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .controls {
    position: relative;
    text-align: center;
    margin-bottom: 120px;
  }
  .controls ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controls ul li {
    width: 8px;
    height: 8px;
    margin: 0px 4px;
    border-radius: 50%;
    background: #525252;
    cursor: pointer;
  }
  .controls ul li.active {
    width: 12px;
    height: 12px;
    background: #ffffff;
  }
  .recommend-list {
    margin-bottom: 24px;
  }
  .recommend-item {
    display: none;
  }
  .recommend-item.active {
    display: block;
    width: 351px;
    padding: 20px;
  }
  .recommend-comment {
    min-height: 167px;
  }
}
.bg-white {
  background-color: #ffffff;
  border-radius: 160px;
  margin-bottom: 160px;
}

.search {
  color: #020202;
  padding: 160px 0;
}

.search-title {
  text-align: center;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 900;
  color: #020202;
  margin-bottom: 80px;
}

.search-input {
  position: relative;
  margin-bottom: 24px;
}
.search-input input {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 16px;
  padding: 20px 76px;
  padding-right: 0;
}
.search-input .search-icon span {
  position: absolute;
  font-size: 17.5px;
  left: 43px;
  top: 20px;
  color: #919191;
}

.function-btns {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.function-btn {
  position: relative;
  margin-bottom: 4px;
  color: #020202;
}
.function-btn a {
  display: block;
  padding: 20px 60px 20px 40px;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}
.function-btn span {
  margin-left: 15px;
}
.function-btn .material-symbols-outlined {
  font-size: 15px;
  position: absolute;
  top: 26.67px;
}

.filter-group {
  display: none;
  z-index: 3;
  position: absolute;
  background-color: #ffffff;
  width: 240px;
  padding: 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  box-shadow: 2px 2px 10px 1px rgba(209, 209, 209, 0.5);
  font-size: 1rem;
  line-height: 1.5;
}
.filter-group h4 {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #919191;
  font-weight: 700;
  margin-bottom: 8px;
  margin-left: 40px;
}
.filter-group li {
  position: relative;
  padding: 4px 32px 4px 40px;
}
.filter-group li:last-child {
  margin-bottom: 0px;
}
.filter-group li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.filter-group li .material-symbols-outlined {
  display: none;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 35px;
}
.filter-group li .material-symbols-outlined.active {
  display: block;
}
.filter-group.active {
  display: block;
}

.filter-model ul {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.sortByTime {
  display: none;
  position: absolute;
  width: 144px;
  padding: 20px 0;
  z-index: 3;
  right: 0;
  background-color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  box-shadow: 2px 2px 10px 1px rgba(209, 209, 209, 0.5);
}
.sortByTime li {
  position: relative;
  padding: 4px 32px 4px 40px;
}
.sortByTime li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.sortByTime.active {
  display: block;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  color: #919191;
  gap: 8px;
}
.category a {
  display: block;
  padding: 8px 16px;
}
.category a:hover {
  background-color: #f2f2f2;
  border-radius: 16px;
}

.category li.active {
  background-color: #f2f2f2;
  border-radius: 16px;
  color: #020202;
  font-weight: 700;
}

.card-pd {
  padding: 20px 32px;
}

.card-border {
  border: 1px solid #f2f2f2;
}

.card-border-bottom {
  border-bottom: 1px solid #f2f2f2;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
}
.card-title:hover {
  color: #525252;
}

.card-font-body {
  font-size: 1rem;
  line-height: 1.5;
}

.fw-700 {
  font-weight: 700;
}

.card-group {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.card-group .card {
  display: flex;
  flex-direction: column;
  width: 416px;
  overflow: hidden;
  border-radius: 16px;
}
.card-group .card .card-img {
  overflow: hidden;
  font-size: 0;
}
.card-group .card .card-img img {
  transition: transform 0.4s;
}
.card-group .card .card-img img:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
}
.card-group .card .description {
  flex-grow: 1;
}
.card-group .card .description p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #525252;
}
.card-group .card .tools-tag a {
  color: #020202;
}
.card-group .card .tools-tag a span {
  font-size: 18px;
  line-height: 19.92px;
}

.pagination ul {
  display: flex;
  justify-content: flex-end;
  font-size: 0.875rem;
  line-height: 1.5;
  gap: 4px;
}
.pagination ul li {
  width: 48px;
  height: 48px;
}
.pagination ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
}
.pagination ul li a:hover {
  background-color: #f2f2f2;
  border-radius: 16px;
}
.pagination ul li a.active {
  background-color: #020202;
  border-radius: 16px;
  color: #ffffff;
}
.pagination ul li span {
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 375px) {
  .bg-white {
    border-radius: 20px;
  }
  .search {
    padding: 80px 0;
    margin-bottom: 0;
  }
  .search-title {
    margin-bottom: 32px;
  }
  .search-title h2 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .search-input {
    margin-bottom: 16px;
  }
  .newline {
    display: block;
  }
  .filter {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .function-btns {
    flex-wrap: wrap;
  }
  .category {
    order: 3;
    overflow-x: scroll;
    justify-content: flex-start;
    white-space: nowrap;
    margin-top: 16px;
  }
  .card-group {
    gap: 12px;
  }
}
.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
  margin-bottom: 80px;
}
.cta h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 40px;
}

.cta-button {
  position: relative;
}
.cta-button a {
  display: block;
  padding: 20px 68px 20px 40px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}
.cta-button .material-symbols-outlined {
  margin-left: 16px;
  font-size: 15px;
  position: absolute;
  top: 25.5px;
}
.cta-button:hover a {
  background-color: #ffffff;
  color: #020202;
  font-weight: 700;
}
.cta-button:hover .material-symbols-outlined {
  font-weight: 700;
}

@media (max-width: 375px) {
  .cta {
    padding: 120px 0;
    margin: 40px 0;
  }
  .cta h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 32px;
    text-align: center;
  }
  .cta .newline {
    display: block;
  }
}
.sitemap {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.sitemap-list ul {
  gap: 8px;
}
.sitemap-list a {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 900;
}

.sitemap-logo {
  width: 245px;
}

@media (max-width: 375px) {
  .sitemap {
    flex-direction: column;
  }
  .sitemap-list {
    order: 2;
  }
  .sitemap-list a {
    font-size: 3rem;
    line-height: 1.2;
  }
  .sitemap-logo {
    margin-bottom: 40px;
  }
}
.footer {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.copyright {
  margin-right: 100px;
  padding: 12px 0;
}

.social {
  padding: 12px 0;
}
.social ul {
  gap: 20px;
  display: flex;
}
.social a {
  padding: 12px 0;
}

@media (max-width: 375px) {
  .footer {
    display: block;
    padding: 20px 0;
  }
  .copyright {
    margin-bottom: 12px;
  }
}
.backToTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 8px 8px 6px 8px;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px rgba(255, 255, 255, 0.3);
  color: #ffffff;
  text-align: center;
  background-color: #020202;
  cursor: pointer;
}
.backToTopBtn .material-symbols-outlined {
  font-size: 16px;
}
.backToTopBtn:hover .backToTopBtn {
  padding: 10px 10px 8px 10px;
}
.backToTopBtn:hover .material-symbols-outlined {
  font-size: 18px;
}

@media (max-width: 375px) {
  .backToTopBtn {
    padding: 8px;
    font-size: 8px;
  }
}
.pricing {
  max-width: 1295px;
  margin: 0 auto;
  margin-bottom: 160px;
}
.pricing .pricing-title h3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 80px;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1296px;
  gap: 24px;
}
.pricing-cards .pricing-card {
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px) / 2);
  border: 1px solid #525252;
  border-radius: 16px;
  cursor: pointer;
}
.pricing-cards .pricing-card .plan-desc {
  flex-grow: 1;
  padding: 20px 32px;
  padding-bottom: 136px;
}
.pricing-cards .pricing-card .plan-desc h4 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 12px;
}
.pricing-cards .pricing-card .plan-desc ul {
  font-size: 1rem;
  line-height: 1.5;
}
.pricing-cards .pricing-card .plan-desc ul li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 10px;
  vertical-align: middle;
}
.pricing-cards .pricing-card .plan-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-top: 1px solid #525252;
}
.pricing-cards .pricing-card .plan-toolbar .price {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
}
.pricing-cards .pricing-card .plan-toolbar .price span {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #919191;
  font-weight: 400;
}
.pricing-cards .pricing-card .plan-toolbar .use {
  display: flex;
  align-items: center;
}
.pricing-cards .pricing-card .plan-toolbar .use p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}
.pricing-cards .pricing-card .plan-toolbar .use .material-symbols-outlined {
  padding: 3px;
  margin-left: 12px;
}
.pricing-cards .pricing-card:hover {
  border: 1px solid #d1d1d1;
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.3);
}

@media (max-width: 375px) {
  .pricing {
    margin-bottom: 120px;
  }
  .pricing .pricing-title h3 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .pricing-cards .pricing-card {
    width: 100%;
  }
  .pricing-cards .pricing-card .plan-desc {
    padding: 20px 20px;
    padding-bottom: 58px;
  }
  .pricing-cards .pricing-card .plan-toolbar {
    padding: 20px 20px;
  }
}
.user-guide {
  display: flex;
  margin-bottom: 160px;
}

.user-guide-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-right: 312px;
}

.user-guide-desc li {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #525252;
}
.user-guide-desc h4 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 24px;
}
.user-guide-desc p {
  font-size: 2rem;
  line-height: 1.2;
}

@media (max-width: 375px) {
  .user-guide {
    flex-direction: column;
    margin-bottom: 120px;
  }
  .user-guide-title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .user-guide-desc li {
    margin-bottom: 24px;
  }
  .user-guide-desc h4 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .user-guide-desc p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
.faq {
  display: flex;
  margin-bottom: 160px;
}

.faq-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  margin-right: 312px;
  white-space: nowrap;
}

.faq-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.faq-content li {
  display: flex;
  padding: 20px 40px;
  margin-bottom: 16px;
  cursor: pointer;
  border: 1px solid #525252;
  border-radius: 16px;
}
.faq-content li .button {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  padding: 10px;
  position: relative;
}
.faq-content li .button::before,
.faq-content li .button::after {
  position: absolute;
  background-color: #ffffff;
  content: "";
}
.faq-content li .button::before {
  width: 14px;
  height: 2px;
  top: 12px;
  left: 3px;
}
.faq-content li .button::after {
  width: 2px;
  height: 14px;
  top: 6px;
  left: 9px;
}
.faq-content li .faq-qa h4 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 900;
}
.faq-content li .faq-qa p {
  font-size: 1rem;
  line-height: 1.5;
  display: none;
}
.faq-content li.active .faq-qa h4 {
  margin-bottom: 16px;
}
.faq-content li.active .faq-qa p {
  display: block;
}

@media (max-width: 375px) {
  .faq {
    flex-direction: column;
    margin: 120px 0;
  }
  .faq-title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .faq-content li {
    padding: 20px 20px;
  }
}/*# sourceMappingURL=all.css.map */