.banner {
	margin-bottom: 180px;
}

.main-intro {
	@include font($fz-display2, $lh-display2);
	font-weight: bold;
	color: $white;
	margin-bottom: 40px;
}

.callToAction {
	margin-bottom: 100px;
	a {
		width: 160px;
		display: block;
		@include font($fz-h6, $lh-h6);
		color: $white;
		padding: 20px 0px;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		border: 1px solid $white;
		border-radius: 16px;

		&:hover {
			background-color: $white;
			color: $black-100;
			font-weight: 700;
		}
	}
}

.banner-animation {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;

	img {
		max-width: 180px;
	}

	.deco-grass-left {
		animation: 3.5s infinite upward ease-in-out 0.5s;
	}

	.deco-grass-middle {
		animation: 3.5s infinite upward ease-in-out 0.2s;
	}

	.deco-grass-right {
		animation: 3.5s infinite upward ease-in-out;
	}
}

@keyframes upward {
	0% {
		transform: translateY(190px);
	}

	30%,
	70% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(-190px);
	}
}

// pricing
.banner-pricing {
	display: flex;
	flex-direction: column;

	.main-intro {
		margin-bottom: 80px;
	}

	.introduction {
		@include font($fz-h1, $lh-h1);
		font-weight: 900;
		margin-left: auto;
		max-width: 636px;
		margin-bottom: 238px;
	}

	.banner-animation {
		margin-right: auto;
	}
}

@media (max-width: 768px) {
	.banner {
		margin-bottom: 120px;
	}

	.main-intro {
		@include font($fz-h1, $lh-h1);
	}

	.callToAction {
		margin-bottom: 180px;
	}

	.banner-animation {
		justify-content: center;

		img {
			max-width: 117px;
		}

		.deco-grass-left {
			right: 234px;
		}

		.deco-grass-middle {
			right: 117px;
		}
	}

	// pricing banner RWD
	.banner-pricing {
		.main-intro {
			margin-bottom: 64px;
		}

		.introduction {
			@include font($fz-h4, $lh-h4);
			max-width: 257px;
			margin-bottom: 258px;
		}

		.banner-animation {
			margin-right: 0;
		}
	}
}
