.footer {
	display: flex;
	align-items: center;
	padding: 32px 0;
}

.copyright {
	margin-right: 100px;
	padding: 12px 0;
}

.social {
	padding: 12px 0;
	gap: 20px;
	display: flex;

	a {
		padding: 12px 0;
		&:hover {
			color: $black-40;
		}
	}
}

@media (max-width: 768px) {
	.footer {
		display: block;
		padding: 20px 0;
	}

	.copyright {
		margin-bottom: 12px;
	}
}
