// https://codepen.io/klfjrlod-the-sasster/pen/NWOEQvo

.partner {
	margin-bottom: 160px;
}

.partner-title {
	@include font($fz-h3, $lh-h3);
	font-weight: 900;
	margin-bottom: 80px;
}

.partner-list {
	overflow: hidden;
	position: relative;

	ul {
		display: flex;
		justify-content: center;
		gap: 24px;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 196px;
		height: 40px;
		top: 0;
		z-index: 2;
	}

	&::before {
		left: 0;
		background-image: linear-gradient(to left, transparent, black);
	}

	&::after {
		right: 0;
		background-image: linear-gradient(to right, transparent, black);
	}

	img {
		max-width: 160px;
	}
}

.parnter-list1 {
	margin-bottom: 20px;
}

@media (max-width: 375px) {
	.partner-title {
		@include font($fz-h6, $lh-h6);
		margin-bottom: 24px;
	}

	.partner-list {
		&::before,
		&::after {
			width: 82px;
		}

		ul {
			gap: 20px;

			li:nth-child(n + 4) {
				display: none;
			}
		}
	}

	.parnter-list1 {
		margin-bottom: 12px;
	}

	.parnter-list2 {
		ul {
			margin-left: -160px;
		}
	}
}
