.swiper {
	margin-bottom: 160px;
}

.swiper-slide {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: auto;
	background-color: rgba($white, 0.08);
	border-radius: 16px;
	padding: 40px;
}

.recommend-content {
	margin-bottom: 20px;
}

.stars {
	margin-bottom: 20px;
}

.recommend-comment {
	@include font($fz-body, $lh-body);
}

.recommend-user {
	display: flex;
}

.avatar {
	margin-right: 16px;
}

.username {
	font-weight: 700;
	margin-bottom: 4px;
}

.company {
	@include font($fz-small, $lh-small);
}

.swiper-wrapper {
	padding-bottom: 40px;
}

.swiper-pagination-bullets {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-pagination-bullet {
	background-color: $white;
}
.swiper-pagination-bullet-active {
	width: 12px;
	height: 12px;
}
