.recommend-list {
	margin-bottom: 160px;
	color: $white;
	display: flex;
	gap: 24px;
}

.recommend-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 416px;
	padding: 40px;
	background: rgba($white, 0.08);
	border-radius: 16px;
}

.stars {
	display: flex;
	gap: 4px;
	margin-bottom: 20px;

	.material-symbols-outlined {
		font-size: 14px;
	}
}

.recommend-content {
	@include font($fz-body, $lh-body);
	text-align: justify;
	flex-grow: 1;
}

.recommend-comment {
	max-height: 215px;
	margin-bottom: 20px;
	color: $black-20;
}

.recommend-user {
	display: flex;
	align-items: center;
	.avatar {
		width: 48px;
		margin-right: 16px;
	}
	&-desc {
		h3 {
			@include font($fz-body, $lh-body);
			font-weight: 700;
			margin-bottom: 4px;
		}
		p {
			@include font($fz-small, $lh-small);
		}
	}
}

// RWD
@media (max-width: 375px) {
	.controls {
		position: relative;
		text-align: center;
		margin-bottom: 120px;
	}

	.controls ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.controls ul li {
		width: 8px;
		height: 8px;
		margin: 0px 4px;
		border-radius: 50%;
		background: $black-80;
		cursor: pointer;
	}

	.controls ul li.active {
		width: 12px;
		height: 12px;
		background: $white;
	}

	.recommend-list {
		margin-bottom: 24px;
	}

	.recommend-item {
		display: none;
	}

	.recommend-item.active {
		display: block;
		width: 351px;
		padding: 20px;
	}
	.recommend-comment {
		min-height: 167px;
	}
}
