.bg-white {
	background-color: $white;
	border-radius: 160px;
	margin-bottom: 160px;
}

.search {
	color: $black-100;
	padding: 160px 0;
}

.search-title {
	text-align: center;
	@include font($fz-display3, $lh-display3);
	font-weight: 900;
	color: $black-100;
	margin-bottom: 80px;
}

.search-input {
	position: relative;
	margin-bottom: 24px;
	input {
		width: 100%;
		background-color: $black-20;
		border: none;
		border-radius: 16px;
		padding: 20px 76px;
		padding-right: 0;
	}

	.search-icon span {
		position: absolute;
		font-size: 17.5px;
		left: 43px;
		top: 20px;
		color: $black-60;
	}
}

// 篩選按鈕
.function-btns {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.function-btn {
	position: relative;
	margin-bottom: 4px;
	color: $black-100;

	a {
		display: block;
		padding: 20px 60px 20px 40px;
		@include font($fz-body, $lh-body);
		border: 1px solid $black-20;
		border-radius: 16px;
	}

	span {
		margin-left: 15px;
	}

	.material-symbols-outlined {
		font-size: 15px;
		position: absolute;
		top: 26.67px;
	}
}

.filter-group {
	display: none;
	z-index: 3;
	position: absolute;
	background-color: $white;
	width: 240px;
	padding: 20px 0;
	border: 1px solid $black-20;
	border-radius: 16px;
	box-shadow: 2px 2px 10px 1px rgba($black-40, 0.5);
	@include font($fz-body, $lh-body);

	h4 {
		@include font($fz-tiny, $lh-tiny);
		color: $black-60;
		font-weight: 700;
		margin-bottom: 8px;
		margin-left: 40px;
	}

	li {
		position: relative;
		padding: 4px 32px 4px 40px;
		&:last-child {
			margin-bottom: 0px;
		}

		&:hover {
			cursor: pointer;
			background-color: $black-20;
		}

		.material-symbols-outlined {
			display: none;
			font-size: 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			margin-right: 35px;

			&.active {
				display: block;
			}
		}
	}

	&.active {
		display: block;
	}
}

.filter-model {
	ul {
		border-bottom: 1px solid $black-20;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}

.sortByTime {
	display: none;

	position: absolute;
	width: 144px;
	padding: 20px 0;
	z-index: 3;
	right: 0;

	background-color: $white;
	@include font($fz-body, $lh-body);
	border: 1px solid $black-20;
	border-radius: 16px;
	box-shadow: 2px 2px 10px 1px rgba($black-40, 0.5);

	li {
		position: relative;
		padding: 4px 32px 4px 40px;

		&:hover {
			cursor: pointer;
			background-color: $black-20;
		}
	}
	&.active {
		display: block;
	}
}

// .sortByTime.active {
// 	display: block;
// }

// 分類
.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include font($fz-body, $lh-body);
	color: $black-60;
	gap: 8px;

	a {
		display: block;
		padding: 8px 16px;
		&:hover {
			background-color: $black-20;
			border-radius: 16px;
		}
	}
}

.category li.active {
	background-color: $black-20;
	border-radius: 16px;
	color: $black-100;
	font-weight: 700;
}

// 工具卡片區
.card-pd {
	padding: 20px 32px;
}

.card-border {
	border: 1px solid $black-20;
}

.card-border-bottom {
	border-bottom: 1px solid $black-20;
}

// card-title font style set

.card-title {
	@include font($fz-h6, $lh-h6);
	font-weight: 900;
	&:hover {
		color: $black-80;
	}
}

.card-font-body {
	@include font($fz-body, $lh-body);
}

// -- font style
.fw-700 {
	font-weight: 700;
}

.card-group {
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px;

	.card {
		display: flex;
		flex-direction: column;

		width: 416px;
		overflow: hidden;
		border-radius: 16px;
		.card-img {
			overflow: hidden;
			font-size: 0;
			img {
				transition: transform 0.4s;
				&:hover {
					transform: scale(1.2);
					transition: transform 0.2s linear;
				}
			}
		}

		.description {
			flex-grow: 1;
			p {
				@include font($fz-small, $lh-small);
				color: $black-80;
			}
		}
		.tools-tag {
			a {
				color: $black-100;
				span {
					font-size: 18px;
					line-height: 19.92px;
				}
			}
		}
	}
}

.pagination ul {
	display: flex;
	justify-content: flex-end;
	@include font($fz-small, $lh-small);
	gap: 4px;
	li {
		width: 48px;
		height: 48px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			font-weight: 700;
			&:hover {
				background-color: $black-20;
				border-radius: 16px;
			}

			&.active {
				background-color: $black-100;
				border-radius: 16px;
				color: $white;
			}
		}

		span {
			font-size: 15px;
			font-weight: 700;
		}
	}
}

// RWD
@media (max-width: 375px) {
	.bg-white {
		border-radius: 20px;
	}

	.search {
		padding: 80px 0;
		margin-bottom: 0;
	}

	.search-title {
		margin-bottom: 32px;
		h2 {
			@include font($fz-h3, $lh-h3);
		}
	}
	.search-input {
		margin-bottom: 16px;
	}

	.newline {
		display: block;
	}

	.filter {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.function-btns {
		flex-wrap: wrap;
	}
	.category {
		order: 3;
		overflow-x: scroll;
		justify-content: flex-start;
		white-space: nowrap;
		margin-top: 16px;
	}

	.card-group {
		gap: 12px;
	}
}
