.backToTopBtn {
	position: fixed;
	margin-left: 1120px;
	bottom: 0px;
	z-index: 999;
	padding: 25px 40px;
	border: none;
	border-radius: 16px;
	background-color: $black-100;
	color: $white;
	cursor: pointer;

	.material-symbols-outlined {
		margin-left: 12px;
	}

	&:hover {
		background-color: $black-80;
	}
}
